{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container">

        <div class="row content">
          <div class="col-lg-12">
            <h2>О нашей компании</h2>
            <p>
              Мы — профессионалы в области 3D печати пластиком, стремящиеся сделать инновационные технологии доступными и понятными для всех. Наша компания основана на принципах качества, надежности и индивидуального подхода к каждому клиенту.
            </p>
            <p>
              Наша миссия заключается в том, чтобы предоставить высококачественные услуги по 3D печати пластиком, помогая нашим клиентам воплощать их идеи и проекты в реальность. Мы стремимся стать вашим надежным партнером в области инновационных технологий.
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <h2>Наша команда</h2>
            <p>
              Наша команда состоит из опытных специалистов в области 3D печати, инженеров и дизайнеров, обладающих глубокими знаниями и умениями в создании качественных печатных моделей. Мы постоянно совершенствуемся и следим за новыми тенденциями в мире 3D технологий, чтобы предоставлять вам лучшие решения.
            </p>
          </div>
          <div class="col-lg-6">
            <h2>Наши услуги</h2>
            <p>
              Мы предлагаем широкий спектр услуг по 3D печати пластиком, включая создание прототипов, изготовление функциональных деталей, дизайнерскую разработку и многое другое. Независимо от вашей потребности, мы готовы помочь вам воплотить вашу идею в жизнь.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
{% endblock %}
