 <div class="col">
                            <p>В последние десятилетия 3D печать стала одним из самых инновационных и перспективных технологических достижений. Её влияние ощущается в различных отраслях, от промышленности до медицины, и оказывает значительное воздействие на способы, которыми мы проектируем, производим и используем различные продукты и объекты. Давайте рассмотрим несколько способов, которыми 3D печать привносит полезность в нашу жизнь:</p>
                            <div class="card mb-3" style="max-width: max-content;">
                              <div class="row g-0">
                                  <div class="col-md-4">
<img src="/static/img/product_image/image1.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                      <div class="card-body">
                                          <h5 class="card-title">Персонализированные продукты</h5>
                                            <p class="card-text">Одним из ключевых преимуществ 3D печати является возможность создания уникальных и персонализированных продуктов. Благодаря этой технологии мы можем изготавливать предметы, которые соответствуют нашим индивидуальным потребностям и предпочтениям, будь то украшения, предметы интерьера или даже медицинские протезы.</p>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="max-width: max-content;">
                              <div class="row g-0">
                                  <div class="col-md-4">
<img src="/static/img/product_image/image2.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                      <div class="card-body">
                                          <h5 class="card-title">Прототипирование и проектирование</h5>
                                            <p>В промышленности 3D печать играет важную роль в создании прототипов и тестировании новых концепций. Благодаря быстрому и относительно недорогому производству прототипов, компании могут быстрее и эффективнее разрабатывать новые продукты, минимизируя затраты на их создание.</p>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="max-width: max-content;">
                              <div class="row g-0">
                                  <div class="col-md-4">
<img src="/static/img/product_image/image3.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                      <div class="card-body">
                                          <h5 class="card-title">Медицинская применяемость</h5>
                                            <p>В медицине 3D печать революционизирует процессы производства медицинских протезов, моделей органов для хирургического планирования, инструментов для обучения и многое другое. Это позволяет медицинским специалистам улучшать качество здравоохранения, а также увеличивать точность и успешность хирургических вмешательств.</p>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="max-width: max-content;">
                              <div class="row g-0">
                                  <div class="col-md-4">
<img src="/static/img/product_image/image4.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                      <div class="card-body">
                                          <h5 class="card-title">Образование и обучение</h5>
                                            <p>В образовании 3D печать становится мощным инструментом для обучения и воспитания. Студенты могут создавать трехмерные модели и прототипы, изучать абстрактные концепции, а также развивать навыки в проектировании и инженерии, что способствует их улучшению и готовности к будущей карьере.</p>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="max-width: max-content;">
                              <div class="row g-0">
                                  <div class="col-md-4">
<img src="/static/img/product_image/image5.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                      <div class="card-body">
                                          <h5 class="card-title">Экологическая эффективность</h5>
                                            <p>3D печать также может способствовать уменьшению отходов и оптимизации производственных процессов. Благодаря возможности изготавливать предметы по мере необходимости и месту, 3D печать может снизить количество отходов и энергии, используемых в производственных процессах.</p>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <p>В целом, 3D печать представляет собой мощный инструмент, который трансформирует способы, которыми мы создаем и используем объекты вокруг нас. Её полезность простирается от индивидуального пользовательского опыта до промышленных и медицинских приложений, делая её одной из наиболее захватывающих и перспективных технологий нашего времени. </p>
                        </div>

