{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="create-order" class="section-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <div class="section-title">
          <h2>{{ title }}</h2>
        </div>
        <!-- Форма для создания нового заказа -->
        <form method="post" class="mb-4">
            {% csrf_token %}

          {% if form.instance.pk %}
          <h3>Редактирование товара: {{ product }}</h3>
          {{ form.as_p }}
                <button type="submit" name="update_product" class="btn btn-primary">Изменить</button>
                <a href="{% url 'manage_products' %}" class="btn btn-primary">Отмена</a>

            {% else %}
             {{ form.as_p }}
             <button type="submit" name="create_product" class="btn btn-primary">Создать новый товар</button>

            {% endif %}
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
