{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% csrf_token %}

<div class="card">
    <div class="card-header">
        <h4 class="card-title mb-0">Мои товары</h4>
    </div><!-- end card header -->

    <div class="card-body">
            <div class="btn-group mb-3" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary" onclick="filterProducts('7')">За последние 7 дней</button>
                <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'filter_products' 30 %}'">За последние 30 дней</button>
                <button type="button" class="btn btn-secondary" onclick="filterProducts('365')">За последние 365 дней</button>
            </div>
        <div id="customerList">
            <div class="row g-4 mb-3">
                <div class="col-sm-auto">
                    <div>
                        <button type="submit" class="blue add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal">
                            <i class="ri-add-line align-bottom me-1"></i>Добавить товар</button>
                    </div>
                    </div>
                    <div class="col-sm">
                        <div class="d-flex justify-content-sm-end">
                            <div class="search-box ms-2">
                                <input type="text" class="form-control search" placeholder="Search...">
                                <i class="ri-search-line search-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive table-card mt-3 mb-1">
                    <table class="table align-middle table-nowrap" id="customerTable">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" style="width: 50px;">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                    </div>
                                </th>
                                <th class="sort" data-sort="customer_name">ID</th>
                                <th class="sort" data-sort="email">Наименование</th>
                                <th class="sort" data-sort="phone">Цена</th>
                                <th class="sort" data-sort="date">Кол-во</th>
                                <th class="sort" data-sort="status">Описание</th>
                                <th class="sort" data-sort="date">Дата добавления</th>
                                <td class="status">
                                    <span class="badge badge-soft-success text-uppercase">Active</span></td>                            </tr>
                        </thead>
                        {% for product in products %}
                            <tbody class="list form-check-all"><tr>

                                    <th scope="row">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                                        </div>
                                    </th>

                                    <td class="id" style="display:none;"><a href="javascript:void(0);" class="fw-medium link-primary">#VZ10</a></td>
                                    <td class="customer_name">{{ product.id }}</td>
                                <td class="phone">{{ product.name }}</td>
                                    <td class="date">{{ product.price }} руб.</td>
                                <td class="email">{{ product.quantity }} шт.</td>
                                <td class="email">{{ product.description }}</td>
                                <td class="email">{{ product.at_data }}</td>
                                <td class="status"><span class="badge badge-soft-success text-uppercase">Active</span></td>
                                    <td>
                                        <div class="d-flex gap-2">
                                            <div class="edit">
                                                <button type="submit" class="blue edit-item-btn" data-bs-toggle="modal" data-bs-target="#showModal" data-product-id="{{ product.id }}" onclick="editProduct({{ product.id }})">Редактировать</button>
                                            </div>
                                            <div class="remove">
                                                <button type="submit" class="red remove-item-btn" data-bs-toggle="modal" data-bs-target="#deleteRecordModal" data-product-id="{{ product.id }}">Удалить</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                    <div class="noresult" style="display: none">
                        <div class="text-center">
                            <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px"></lord-icon>
                            <h5 class="mt-2">Sorry! No Result Found</h5>
                            <p class="text-muted mb-0">We've searched more rs We did not find any orders for you search.</p>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <div class="pagination-wrap hstack gap-2" style="display: flex;">
                        <a class="page-item pagination-prev disabled" href="#">
                            Previous
                        </a>
                        <ul class="pagination listjs-pagination mb-0"><li class="active"><a class="page" href="#" data-i="1" data-page="8">1</a></li><li><a class="page" href="#" data-i="2" data-page="8">2</a></li></ul>
                        <a class="page-item pagination-next" href="#">
                            Next
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- end card -->
    </div>
    <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-light p-3">
                    <h5 class="modal-title" id="exampleModalLabel">111111</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="mb-3" id="modal-id" style="display: none;">
                            <label for="id-field" class="form-label">ID</label>
                            <input type="text" id="id-field" class="form-control" placeholder="ID" readonly="">
                        </div>

                        <div class="mb-3">
                            <input type="text" id="name" class="form-control" placeholder="Наименование" required="">
                        </div>

                        <div class="mb-3">
                            <input type="number" id="price" class="form-control" placeholder="Цена" required="">
                        </div>

                        <div class="mb-3">
                            <input type="text" id="quantity" class="form-control" placeholder="Кол-во" required="">
                        </div>

                        <div class="mb-3">
                            <input type="text" id="description" class="form-control" placeholder="Описание" required="">
                        </div>

                    </div>
                    <div class="modal-footer" style="display: block;">
                        <div class="hstack gap-2 justify-content-end">
                            <button type="submit" class="blue" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit" class="blue" id="add-btn" style="display: block;">Добавить</button>
                            <button type="submit" class="blue" id="edit-btn" style="display: none;">Обновить</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
                </div>
                <div class="modal-body">
                    <div class="mt-2 text-center">
                        <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                            <h4>Подтверждение!!!</h4>
                            <p class="text-muted mx-4 mb-0">Вы уверены что хотите удалить товар ?</p>
                        </div>
                    </div>
                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                        <button type="submit" class="blue" data-bs-dismiss="modal">Закрыть</button>
                        <!-- Передаем ID продукта из переменной product в атрибут data-product-id -->
                        <button type="submit" class="red" id="delete-record">Да, удалить!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
