{% extends 'base.html' %}
{% load static %}
{% block title %} {{ main }} {% endblock %}

{% block content %}
<section id="gallery" class="gallery">
  <div class="container">
    <div class="section-title">
      <h2>{{ title }}</h2>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row g-0">
      {% for i in gallery_range %}
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'img/gallery/gallery-' %}{{ i }}.png" class="gallery-lightbox">
            <img src="{% static 'img/gallery/gallery-' %}{{ i }}.png" class="img-fluid">
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
