{% extends 'base.html' %}
{% load static %}

{% block title %} {{ main }} {% endblock %}

{% block content %}
<div class="section-title">
    <h3 class="display-4">Приветствуем на нашем сайте 3D печати</h3>
    <p class="lead">Здесь вы найдете все необходимое для воплощения своих творческих идей в реальность с помощью 3D печати.</p>
    <hr class="my-4">
    <p>Наш магазин предлагает широкий ассортимент 3D принтеров, расходных материалов и аксессуаров высокого качества. В нашей галерее вы сможете ознакомиться с уникальными проектами, созданными нашими клиентами, а также найти вдохновение для своих собственных идей.</p>
    <p>Мы также предоставляем различные сервисы, включая услуги моделирования, печати на заказ и консультации по выбору оборудования и материалов.</p>
</div>
{% endblock %}
