{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<section id="order-management" class="section-bg">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <div class="container">
        <div class="section-title">
          <h2>{{ title }}</h2>
        </div>

        <!-- Форма для создания нового заказа -->
        <div class="mb-4">
          <h3>Создать новый заказ</h3>
          <form action="{% url 'create_order' %}" method="post">
            {% csrf_token %}
            {{ order_form.as_p }}
            <button type="submit" class="btn btn-block btn-primary">Создать заказ</button>
          </form>
        </div>

        <!-- Список заказов и кнопки для их редактирования и удаления -->
        <div class="mb-4">
          <h3>Список заказов</h3>
          <ul class="list-unstyled">
            {% for order in orders %}
            <li class="mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Заказ №{{ order.id }}</h5>
                  <p>Клиент: {{ order.user }}</p>
                  <p>Товар: {{ order.product }}</p>
                  <p>Сумма: {{ order.price_sum }}</p>
                  <p>Дата: {{ order.at_data }}</p>
                  <form action="{% url 'update_order' order.id %}" method="post">
                    {% csrf_token %}
                    {{ order_form.as_p }}
                    <button type="submit" class="btn btn-info">Редактировать</button>
                  </form>
                  <form action="{% url 'delete_order' order.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить</button>
                  </form>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}
