{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<section id="product-management" class="section-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">

        <div class="section-title">
          <h2>{{ title }}</h2>
        </div>

        <form method="post" class="mb-4">
            {% csrf_token %}

          {% if form.instance.pk %}
          <h3>Редактирование товара: {{ product }}</h3>
          {{ form.as_p }}
                <button type="submit" name="update_product" class="btn btn-block btn-primary">Изменить</button>
                <a href="{% url 'manage_products' %}" class="btn btn-block btn-primary">Отмена</a>
            {% else %}
             {{ form.as_p }}
             <button type="submit" name="create_product" class="btn btn-block btn-primary">Создать новый товар</button>

            {% endif %}
        </form>
        <!-- Список товаров и кнопки для их редактирования и удаления -->
        <div class="row">
          {% for product in products %}
          <div class="col-md-6 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <h3 class="card-title">{{ product.name }}</h3>
                <p class="card-text">{{ product.description }}</p>
                <p>Цена: {{ product.price }} руб.</p>
                <p>Количество: {{ product.quantity }} шт.</p>
                <form method="post" class="action-form">
                  {% csrf_token %}
                  <input type="hidden" name="product_id" value="{{ product.pk }}">
                  <button type="submit" name="update_product" class="btn btn-info mr-2">Редактировать</button>
                </form>
                <form action="{% url 'delete_product' product.id %}" method="post" class="action-form">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}
