{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="section-title">
    <h2>{{ title }}</h2>
    <div class="row ">
        <div class="col-6 text-md-center">
            <a href="{% url 'store' %}?tab=store">Товары</a>
        </div>
        <div class="col-6 text-md-center">
            <a href="{% url 'store' %}?tab=models_stl">Модели STL</a>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for product in products %}
        <div class="col">
            <div class="card text-info-emphasis">
                <div class="card-body">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                    <div class="card-header">
                        {{ product.name }}
                    </div>
                    <p class="text-info-emphasis">{{ product.price }} руб.</p>
                    <p class="card-text" id="product-quantity-{{ product.id }}">Наличие: {{ product.quantity }} шт.</p>
                    <p class="card-text border-bottom">Описание: {{ product.description }}</p>
                    <div type="button" class="d-flex justify-content-center align-items-center">
                        {% for cart_product in cart_products %}
                            {% if cart_product.product_id == product.id %}
                                <i class="las la-minus la-2x remove-from-cart-btn" data-product-id="{{ product.id }}"></i>
                                <span class="mx-2">{{ cart_product.quantity }} шт.</span>
                            {% endif %}
                        {% endfor %}
                        <i class="las la-plus la-2x add-to-cart-btn" data-product-id="{{ product.id }}"></i>
                        <a href="{% url 'cart' %}" class="las la-cart-arrow-down la-3x"></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{#<div class="pagination text-md-end">#}
{#    <span class="step-links">#}
{#        {% if products.has_previous %}#}
{#            <a href="?page=1">&laquo; первая</a>#}
{#            <a href="?page={{ products.previous_page_number }}">предыдущая</a>#}
{#        {% endif %}#}
{##}
{#        <span class="current">#}
{#            Страница {{ products.number }} из {{ products.paginator.num_pages }}.#}
{#        </span>#}
{##}
{#        {% if products.has_next %}#}
{#            <a href="?page={{ products.next_page_number }}">следующая</a>#}
{#            <a href="?page={{ products.paginator.num_pages }}">последняя &raquo;</a>#}
{#        {% endif %}#}
{#    </span>#}
{#</div>#}
{##}
{#{% endblock %}#}
